<form action="">
  <div class="input-group">
    <p>
      <label for="initial-investment">Initial investment</label>
      <input id="initial-investment" type="number">
    </p>
    <p>
      <label for="expected-return">Expected return</label>
      <input id="expected-return" type="number">
    </p>
  </div>
  <div class="input-group">
    <p>
      <label for="annual-investment">Annual investment</label>
      <input id="annual-investment" type="number">
    </p>
    <p>
      <label for="duration">Duration </label>
      <input id="duration" type="number">
    </p>
  </div>
  <button>Calculate</button>
</form>
